
.TechPageContainer {
  height: 100%;
  border: 1px solid #ccc;
  background-color: #f3f3f3;
}

.project-container {
  display: grid;
  grid-template-columns: 32% 32% 32%;
  grid-column-gap: 10px;
  grid-row-gap: 16px;
  align-items: center;
  text-decoration: none;
}

.project-item {
  margin-left: 5px;
}

.project-image {
  width: 100%;
  overflow: hidden;
}

.project-image img {
  width: 100%;
  object-fit: contain;
  background-color: white;
  padding-bottom: 8px;
}

.project-summary {
  padding: 8px;
  padding-left: 14px;
  padding-right: 14px;

}

.project-title {
  font-size: 1.1em;
  font-weight: bold;
  line-height: 1.5em;

}

.project-title:hover {
    background: #D3D3D3;
}

.project-description {
  font-size: 0.9em;
}

.TechPageContainer section {
  padding-top: 20px;
  padding-bottom: 20px;
}

section.my-projects {
  background-color: white;
}

.TechPageContainer section h2 {
  text-align: center;
  font-weight: normal;
  font-size: 1.8em;
  margin-top: 20px;
  margin-bottom: 15px;
}

.TechPageContainer section hr {
  width: 100px;
  color: #ffb800;
  background-color: #ffb800;
  height: 2px;
  border: 0px;
  margin-bottom: 20px;
}

.TechPageContainer section > div {
  padding-left: 10%;
  padding-right: 10%;
}

.TechPageContainer section > p {
  padding-left: 10%;
  padding-right: 10%;
}

.TechPageContainer a {
  text-decoration: none;
  color: black;
  text-emphasis: 1em;
}
